<div class="container" #container>
  <div class="calc-container">
    <div
      class="input-control"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
      (window:keydown.code.Backspace)="backspace()"
    >
      <input
        #input
        tabindex="-1"
        class="input-field"
        type="text"
        readonly
        [value]="value"
      />
    </div>

    <div class="characters-container">
      <button
        #clearBtn
        class="special-btn"
        tabindex="-1"
        (click)="highlight($event); clear()"
        (window:keydown.code.Control.KeyC)="
          highlight({ currentTarget: clearBtn }); clear()
        "
      >
        {{ !isSolving && !isSolved ? 'C' : 'AC' }}
      </button>

      <button
        #quote
        class="special-btn"
        tabindex="-1"
        (click)="highlight($event); special('+/-')"
        (window:keydown.code.Shift.Backquote)="
          highlight({ currentTarget: quote }); special('+/-')
        "
      >
        <sup>+</sup><span>/</span><sub>-</sub>
      </button>

      <button
        #shift5
        class="special-btn"
        tabindex="-1"
        (click)="highlight($event); special('%')"
        (window:keydown.code.Shift.Digit5)="
          highlight({ currentTarget: shift5 }); special('%')
        "
      >
        %
      </button>

      <button
        #div
        class="arithmetic-btn"
        tabindex="-1"
        (click)="highlight($event); arithmetic('/')"
        (window:keydown.code.Slash)="
          highlight({ currentTarget: div }); arithmetic('/')
        "
      >
        &div;
      </button>

      <button
        #seven
        tabindex="-1"
        (click)="highlight($event); value = '7'"
        (window:keydown.code.Digit7)="
          highlight({ currentTarget: seven }); value = '7'
        "
      >
        7
      </button>

      <button
        #eight
        tabindex="-1"
        (click)="highlight($event); value = '8'"
        (window:keydown.code.Digit8)="
          highlight({ currentTarget: eight }); value = '8'
        "
      >
        8
      </button>

      <button
        #nine
        tabindex="-1"
        (click)="highlight($event); value = '9'"
        (window:keydown.code.Digit9)="
          highlight({ currentTarget: nine }); value = '9'
        "
      >
        9
      </button>

      <button
        #mul
        class="arithmetic-btn"
        tabindex="-1"
        (click)="highlight($event); arithmetic('*')"
        (window:keydown.code.Shift.Digit8)="
          highlight({ currentTarget: mul }); arithmetic('*')
        "
      >
        &times;
      </button>

      <button
        #four
        tabindex="-1"
        (click)="highlight($event); value = '4'"
        (window:keydown.code.Digit4)="
          highlight({ currentTarget: four }); value = '4'
        "
      >
        4
      </button>

      <button
        #five
        tabindex="-1"
        (click)="highlight($event); value = '5'"
        (window:keydown.code.Digit5)="
          highlight({ currentTarget: five }); value = '5'
        "
      >
        5
      </button>

      <button
        #six
        tabindex="-1"
        (click)="highlight($event); value = '6'"
        (window:keydown.code.Digit6)="
          highlight({ currentTarget: six }); value = '6'
        "
      >
        6
      </button>

      <button
        #minus
        tabindex="-1"
        class="arithmetic-btn"
        (click)="highlight($event); arithmetic('-')"
        (window:keydown.code.Minus)="
          highlight({ currentTarget: minus }); arithmetic('-')
        "
      >
        &minus;
      </button>

      <button
        #one
        tabindex="-1"
        (click)="highlight($event); value = '1'"
        (window:keydown.code.Digit1)="
          highlight({ currentTarget: one }); value = '1'
        "
      >
        1
      </button>

      <button
        #two
        tabindex="-1"
        (click)="highlight($event); value = '2'"
        (window:keydown.code.Digit2)="
          highlight({ currentTarget: two }); value = '2'
        "
      >
        2
      </button>

      <button
        #three
        tabindex="-1"
        (click)="highlight($event); value = '3'"
        (window:keydown.code.Digit3)="
          highlight({ currentTarget: three }); value = '3'
        "
      >
        3
      </button>

      <button
        #plus
        tabindex="-1"
        class="arithmetic-btn"
        (click)="highlight($event); arithmetic('+')"
        (window:keydown.code.Shift.Equal)="
          highlight({ currentTarget: plus }); arithmetic('+')
        "
      >
        +
      </button>

      <button
        #zero
        tabindex="-1"
        (click)="highlight($event); value = '0'"
        (window:keydown.code.Digit0)="
          highlight({ currentTarget: zero }); value = '0'
        "
        class="zero"
      >
        0
      </button>

      <button
        #period
        tabindex="-1"
        (click)="highlight($event); value = '.'"
        (window:keydown.code.Period)="
          highlight({ currentTarget: period }); value = '.'
        "
      >
        .
      </button>

      <button
        #equal
        tabindex="-1"
        class="arithmetic-btn equal"
        (click)="highlight($event); equate()"
        (window:keydown.code.Enter)="
          highlight({ currentTarget: equal }); equate()
        "
        (window:keydown.code.Equal)="
          highlight({ currentTarget: equal }); equate()
        "
      >
        =
      </button>
    </div>
  </div>
</div>
